<!DOCTYPE html>
<html lang="en">

    <%-include("../homePage/includpage/head.ejs")%>


<body>

 

    <div class="wrapper">

        <!-- ======================== Navigation ======================== -->
        <%-include("../homePage/includpage/header.ejs")%>

        <!-- ========================  Products ======================== -->

        <section class="products pt-0">

            <!--Header-->

           

            <!--Content-->

            <div class="container">

                <div class="row">

               

                    <!--Product item-->

                </div><!--/row-->

            </div> <!--/container-->

        </section>

        <!-- ========================  Category icons ======================== -->

        <section class="icons-category">

            <!--Header-->

            <header>
                <div class="container">
                    <h2 class="title"><center>All categories</center></h2>
                </div>
            </header>

            <!--Content-->

            <div class="container">

                <div class="row">

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-sofa.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Sofa</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-armchair.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Armchairs</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-chair.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Chairs</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-dining.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Dining tables</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-mediacabinet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Media storage</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-table.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Tables</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-bookcase.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bookcase</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-bedroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bedroom</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-nightstand.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Nightstand</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-kidsroom.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Children room</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-kitchen.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Kitchen</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-wardrobe.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Wardrobe</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-shocabinet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Shoe cabinet</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-office.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Office</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-barset.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Bar sets</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-light.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Lightning</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-carpet.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Carpet</figcaption>
                            </figure>
                        </a>
                    </div>

                    <div class="col-6 col-md-2">
                        <a href="#">
                            <figure>
                                <div class="image">
                                    <img src="assets/icons/icon-accessories.svg" alt="Alternate Text" />
                                </div>
                                <figcaption>Accessories</figcaption>
                            </figure>
                        </a>
                    </div>

                </div> <!--/owl-icons-->
            </div>

        </section>

        <!-- ========================  Products ======================== -->


        <!-- ========================  Newsletter ======================== -->

        <section class="banner">

            <div class="container-fluid">

                <div class="banner-image" style="background-image:url(assets/images/gallery-1.jpg)">
                    <!--Header-->

                    <header>
                        <div class="container">

                            <h2 class="h2 title">Stay in touch!</h2>
                            <div class="text">
                                <p>Be first to know about all new interior features!</p>
                            </div>

                        </div>
                    </header>

                    <!--Content-->

                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <input type="email" class="form-control" name="name" value="" placeholder="Enter your e-mail">
                            </div>
                            <div class="col-md-4">
                                <a href="#" class="btn btn-clean">Subscribe now</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!--/container-fluid-->

        </section>


        <!-- ================== Footer  ================== -->

        <%-include("../homePage/includpage/footer.ejs")%>
     


    </div> <!--/wrapper-->
    
    <!--Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/ion.rangeSlider.js"></script>
    <script src="js/magnific-popup.js"></script>
    <script src="js/owl.carousel.js"></script>
    <script src="js/tilt.jquery.js"></script>
    <script src="js/jquery.easypiechart.js"></script>
    <script src="js/bigtext.js"></script>
    <script src="js/main.js"></script>
</body>

</html>